.btn{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 2px;
    display: inline-block;
    text-align: center;
    background-color: white;
}

.btn:hover {
    background-color: #c9e0eb;
}

.clear {
    width: 75px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    background-color: red;
    color: white;

}

.clear:hover {
    background-color: #ffae00;
}

.val-field {
    height: 50px;
    width: 250px;

}

main {
    position:absolute;
    width:300px;
    height:200px;
    z-index:15;
    top:30%;
    left:50%;
    margin:-100px 0 0 -150px;
}

header {
    text-align: center;
}

.wrapper {
    border: 1px solid black;
    padding: 10px 5px 10px 20px;
    background-color: #9d9d9d;
    border-radius: 20px;

}

#buttonBox {
    margin-top: 10px;
    text-align: center;
}

header {
    height: 100px;
}

#clearBtn {
    text-align: left;
}